@layout('layouts/main')

@section('title')
Freshgear | Top Picks
@endsection

@section('content')
  <div class="top-section">
    <div class="product">
      <div class="circle">
        <img src="img/products/adidas-yeezy-boost-700-v2-black.png">
      </div>
    </div>
    <div class="titles">
      <h3>Yeezy</h3>
      <h1>Boost 350</h1>
    </div>
  </div>
@endsection

@section('javascript')
<script>
  console.log('hey guys');
</script>
@endsection