@layout('layouts/main')

@section('title')
Freshgear | Top Picks
@endsection

@section('content')
  <h1>this is the about page</h1>
@endsection

@section('javascript')
<script>
  console.log('hey guys');
</script>
@endsection